@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
body{font-family: Lato;}
@import "null.scss";


.container{
	margin: 0 auto;
	max-width: 1130px;
	padding: 0 15px;
}
.wraper {}
.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header {
	padding: 65px 0 0 0;
	background: url(../img/main_screen.jpg) 50%/cover no-repeat;
	height: 100vh;
	width: 100%;
}
.header__row {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-menu__column {
	

}
.header-menu__item {}
.menu__row{
	display: flex;
	li{
		margin: 0 75px 0 0;
		&:last-child{margin: 0;}
		&:after{
			content:'';
			height: 3px;
			width: 3px;
			border-radius: 50%;
			background-color:#4d4959;
			position: absolute;
			margin:6px 0 0 32px;
		}
		a{
			font-size: 13px;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #4d4959;
			transition-duration: 0.7s;
			&:hover{
				color: #CC9900;
			}
		}
		&:nth-child(2){
			margin: 0 112px 0 0;
			&:after{display: none;}
		};
		&:nth-child(3){
			margin:0 75px 0 112px;
		};
		&:last-child{
			&:after {
				content: '';
				display: none;
			}
		}
	}
}
.header-logo__column{
	position: absolute;
}
.header-logo__item {}

@media (max-width: 767px){
	.header{
		background: #4d4959;
	}
	.header-logo__column{
		top: 35px;
	}
		.menu__row{
			margin: 95px 0 0 0;
			flex-direction: column;
			align-items: center;
			li{
				padding: 0 0 45px 0;
				margin: 0;
				&:last-child{padding: 0;}
				&:nth-child(2){
					margin: 0;
					display: block;
				}
				&:nth-child(3){
					margin: 0;
				}
				a{
					color: #fff;
					font-size: 24px;
				}
			}
		}
}
.content {}
.content__row {}
.content-generation {
	background: #f7f7f7;
}

.content-generation_block {
	padding: 120px 0;
}
.block {
	font: 18px;
	text-align: justify;
}
.block-icon {
	padding: 0 0 32px 0;
}
.first{

}
.block-title {
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #353738;
	padding: 0 0 20px 0;
	line-height: 20px;
}
.block-text {
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #848789;
}
.once{
	font-size: 18px;
}
@media(max-width: 980px){
	.content-generation_block {
		padding: 80px 0;
	}
}
@media(max-width: 600px){
	.content-generation_block {
		padding: 30px 0;
	}
}

.content-brands {}
.brands__row {
	display: flex;
	width: 100%;
}
.brands__column {
	flex: 1 0 33.3333%;
}
.brands__column_b {
	flex: 1 0 66.6666%;
}
.brands__column_l{
	
}
.brands-logo__item {
	width: 100%;
	height: 100%;
	transition-duration: 0.7s;
	background: url(../img/brands-bg/1.jpg) 50%/ cover no-repeat;
	img {
		opacity: 0;
	}
	&:hover{
		img{
			opacity: 1;
			position: relative;
			top: 50%;
			left: 45%;
		}
	}
}
.block {
	padding: 70px;
}
@media(max-width: 1200px){
	.block{
		padding: 35px;
	}
}
@media(max-width: 920px){
	.bg2{
		display: none;
	}
	.bg3{
		display: none;
	}
	.brands__row {
		flex-direction: column;
	}
}
.image {
	background: url(../img/brands-img/1.jpg) 50%/cover no-repeat ;
	padding:0 0 50% 0;
}
.j{
	text-align: justify;
}
.block-icon {
	position: relative;
	left: 48%;
}
.block-title {
	text-align: center;
}
.block-text {}

.rev{
	.brands__column_b{
		order: 2;
	}
	.brands__column_l{
		order:1;
	}
}
.image2{
	background: url(../img/brands-img/img2.jpg) 50%/cover no-repeat;
}
.bg2{
	background: url(../img/brands-bg/bg2.jpg) 50%/cover no-repeat;
}

.bg3 {
	background: url(../img/brands-bg/bg3.jpg) 50%/ cover no-repeat;
	.img{
		position: relative;
		left: 35%;
	}
}
.bg4{
	background: url(../img/brands-bg/bg4.jpg) 50%/ cover no-repeat;
	&:hover{
			background: url(../img/brands-bg/bg4.jpg) 50%/ cover no-repeat;
	}
}
.img3{
	background: url(../img/brands-img/img3.jpg) 50%/ cover no-repeat;
}
.twiter{
	background: #f7f7f7;
}

@media(max-width: 920px){
	.shop-body__column_row{
		flex-wrap: wrap;
		.shop-block_b{
			flex: 1 1 100%;
		}
	}
	.shop-block{
		flex: 1 1 50%;
	}

}
.shop_row {
	align-items: center;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.shop-body__column_row {
	width: 100%;
	display: flex;
}


.shop-block {
	flex:1 0 16.6666%;
	display: flex;

	img{
		width: 100%;
		height: 100%;
		object-fit: cover;

	}
}
.shop-block_b {
		flex: 1 0 33.3333%;
		flex-direction: column;
}
.shop-block__column {
	width: 100%;
	height: 50%;
}
.shop-block-double_row {
	width: 100%;
	display: flex;
}
.shop-block-double__colum {
	width: 50%;
}
.shop-block-double__item {
	width: 100%;
	height: 100%;
	transition-duration: 0.3s;
	&:hover{
			background-color: rgb(100,194,108);

			img{
				opacity: 0.7;
			}
		}
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.shop-block__item {
	width: 100%;
	height: 100%;
	&:hover{
			background-color: rgb(100,194,108);
			img{
				opacity: 0.7;
			}
		}
	img{
		width: 100%;
	height: 100%;
		object-fit: cover;
	}
}
.gbg{
	&:hover{
			background-color: rgb(100,194,108);
			img{
				opacity: 0.7;
			}
		}
}

.shop-footer__column {
	width: 100%;
	background: #000;
	text-align: center;
	padding: 75px 0;
}
@media(max-width: 767px){
	.shop-footer__column{
		padding: 40px 0;
	}
}
.shop-tub {
	padding: 0 60px;
	height: 50px;
	line-height: 48px;
	border: 1px solid rgba(255,255,255,0.49);
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	a{color: #ffffff;}
}
.footer {
	padding: 60px 0;
	background: #f7f7f7;
	width: 100%;
}
.container {}
.footer__row {
	justify-content: space-between;
	display: flex;
}
.designed {}
.designed__item {
	font-size: 16px;
	line-height: 17px;
	font-weight: 700;
	color: #848789;
}
.icon {
	position: relative;
	left: -5%;
	a{
		img{
			width: 40px;
			height: 40px;
		}
	}
}
.sign {
	img{
		width: 30px;
		height: 25px;
	}
}